.content {
  width: 100%;
}
.content--header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header--title {
  color: #526d82;
}
.header--activity {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-box {
  background-color: #dde6ed;
  padding: 8px 10px;
  display: flex;
  align-items: center;
}
.search-box input {
  width: 250px;
  border: none;
  outline: none;
  background: white;
  padding: 10px 20px;
  border-radius: 10px;
}
.search-box .icon {
  color: #969393;
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  margin-left: 10px;
}
.icon:hover {
  transform: scale(1.3);
  cursor: pointer;
}

@media screen and (min-width: 991px) {
  .content {
    width: 75%;
  }
  .content--header {
    justify-content: space-between;
    flex-direction: row;
  }
  .header--activity {
    gap: 20px;
    flex-direction: row;
  }
  .search-box {
    border-radius: 10px;
  }

  .search-box input {
    width: 300px;
    background: transparent;
    padding: 5px;
    border-radius: 0;
  }
  .search-box .icon {
    margin-left: 0;
  }
}
